.indicator {
  position: absolute;
  width: 100%;
  bottom: 5px;
  font-size: 20px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  .nav-item {
    img {
      height: 45px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.rent-group {
  &-head {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .group-card {
      padding: 5px;
      width: 45%;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-left {
        display: flex;
        gap: 5px;
        flex-direction: column;
        & span:first-child {
          font-weight: 800;
        }
        & span:nth-child(2) {
          color: gray;
          font-size: 12px;
        }
      }
      &-right {
        width: 60px;
      }
    }
  }
}

.adm-search-bar-active {
  .adm-search-bar-input-box {
    border-color: transparent;
  }
}

.consult-head {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.consult-item {
  margin: 10px 20px;
  display: flex;
  gap: 5px;
  // height: 45px;
  img {
    width: 120px;
  }
  .consult-item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .consult-item-right-title {
      font-size: 16px;
      font-weight: 800;
    }
    .consult-item-right-bottom {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: #858181;
    }
  }
}